go 1.26.1

use .

use ./examples/mux

use ./errors/herr

use ./middleware/echo

use ./middleware/echo5

use (
	./cmd/wlog
	./examples
	./log/logrus
	./log/zap
	./log/zerolog
	./middleware/gin
	./trace/otel
)
