go 1.26.1

use .

use ./examples/mux

use ./errors/herr

use ./middleware/echo

use ./middleware/echo5

use (
	./cmd/wlog
	./examples
	./examples/lambda
	./log/logrus
	./log/zap
	./log/zerolog
	./middleware/chi
	./middleware/fasthttp
	./middleware/fiber
	./middleware/fiber3
	./middleware/gin
	./middleware/gozero
	./middleware/hertz
	./middleware/httprouter
	./middleware/huma
	./middleware/kratos
	./rpc/connect
	./rpc/gqlgen
	./rpc/grpc
	./rpc/twirp
	./tools
	./trace/otel
)
