go 1.26.1

use .

use ./examples/mux

use ./errors/herr

use ./middleware/echo

use ./middleware/echo5

use (
	./client/aws
	./cmd/wlog
	./errors/cockroach
	./errors/oops
	./errors/validator
	./examples
	./examples/lambda
	./flag/openfeature
	./job/asynq
	./job/river
	./log/hclog
	./log/logr
	./log/logrus
	./log/zap
	./log/zerolog
	./middleware/chi
	./middleware/fasthttp
	./middleware/fiber
	./middleware/fiber3
	./middleware/gin
	./middleware/gozero
	./middleware/hertz
	./middleware/httprouter
	./middleware/huma
	./middleware/kratos
	./queue/amqp
	./queue/cloudevents
	./queue/confluent
	./queue/franz
	./queue/kafkago
	./queue/nats
	./queue/pubsub
	./queue/sarama
	./queue/sqs
	./queue/watermill
	./rpc/connect
	./rpc/gqlgen
	./rpc/grpc
	./rpc/twirp
	./store/bun
	./store/gorm
	./store/mongo
	./store/pgx
	./store/redis
	./store/sql/drivertest
	./tools
	./trace/otel
)
